@page
@model WrestlingStore_S2.Pages.AddWrestlingShoesModel
@{
    ViewData["Title"] = "AddWrestlingShoes";
}

<!DOCTYPE html>
<html lang="en">




<body>

    <header>

        <form method="post">


            <div class="addProd">



                <label> Product Name:</label> <span asp-validation-for="ws.prodName"></span>
                <input asp-for="ws.prodName" id="name">
                <label> Product Category:</label> <span asp-validation-for="ws.prodCategory"></span>
                <input asp-for="ws.prodCategory" id="name">
                <label> Product Price:</label> <span asp-validation-for="ws.prodPrice"></span>
                <input asp-for="ws.prodPrice" id="price">
                <label> Product Image:</label> <span asp-validation-for="ws.prodImg"></span>
                <input asp-for="ws.prodImg" id="text">
                <label> Kind:</label> <span asp-validation-for="ws.KindOfActivity"></span>
                <input asp-for="ws.KindOfActivity" id="text">
                <input type="submit" value="Create Product" />


            </div>

        </form>



    </header>



</body>

</html>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}