@page
@model WrestlingStore_S2.Pages.AddWrestlingAccessoriesModel
@{
    ViewData["Title"] = "AddWrestlingAccessories";
}

<!DOCTYPE html>
<html lang="en">




<body>

    <header>

        <form method="post">


            <div class="addProd">



                <label> Product Name:</label> <span asp-validation-for="wa.ProdName"></span>
                <input asp-for="wa.ProdName" id="name">
                <label> Product Category:</label> <span asp-validation-for="wa.ProdCategory"></span>
                <input asp-for="wa.ProdCategory" id="name">
                <label> Product Price:</label> <span asp-validation-for="wa.ProdPrice"></span>
                <input asp-for="wa.ProdPrice" id="price">
                <label> Product Image:</label> <span asp-validation-for="wa.ProdImg"></span>
                <input asp-for="wa.ProdImg" id="text">
                <input type="submit" value="Create Product" />


            </div>

        </form>



    </header>



</body>

</html>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}