@page
@model WrestlingStore_S2.Pages.AddProductModel
@{
    ViewData["Title"] = "AddWrestlingClothes";
 }

<!DOCTYPE html>
<html lang="en">




<body>

    <header>

        <form method="post">


            <div class="addProd">



                <label> Product Name:</label> <span asp-validation-for="wc.ProdName"></span>
                <input asp-for="wc.ProdName" id="name">
                <label> Product Category:</label> <span asp-validation-for="wc.ProdCategory"></span>
                <input asp-for="wc.ProdCategory" id="name">
                <label> Product Price:</label> <span asp-validation-for="wc.ProdPrice"></span>
                <input asp-for="wc.ProdPrice" id="price">
                <label> Product Image:</label> <span asp-validation-for="wc.ProdImg"></span>
                <input asp-for="wc.ProdImg" id="text">
                <label> Material:</label> <span asp-validation-for="wc.ProdMaterial"></span>
                <input asp-for="wc.ProdMaterial" id="text">
                <input type="submit" value="Create Product" />


            </div>

        </form>



    </header>



</body>

</html>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}