@page
@model WrestlingStore_S2.Pages.WrestlingClothesModel
@{
    ViewData["Title"] = "Wrestling Clothes";
    ProductManager pm = new ProductManager(new ProductData());
    Product[] products = pm.GetAllProducts();
}
@using Modules;
@using LogicLayer;
@using DAL;

<!DOCTYPE html>
<form id="form">
    <img class="logo" src="/images/logo.jpg" alt="">
    <div class="search">
        <input type="search" id="searchbar" name="search"
               placeholder="Search for a product...">
        <button>Search</button>
    </div>
</form>
<nav class="categories">
    <ul>
        <li> <a asp-area="" asp-page="/WrestlingShoes"> Wrestling Shoes</a> </li>
        <li> <a asp-area="" asp-page="/WrestlingClothes"> Wrestling Clothes</a> </li>
        <li> <a asp-area="" asp-page="/WrestlingAccessories"> Wrestling Accessories</a> </li>
    </ul>
</nav>
<section id="grid_container">

    @foreach (Product p in products)
    {
        if (p is WrestlingClothes)
        {


            <form method="post">
                <div class="product">
                    <p>@p.ProdName</p>
                    <img class="prod_image" src="@p.ProdImg">
                    <p class="priceText">@p.ProdPrice $</p>

                    <a href="ShowProduct?id=@p.Prod_id" type="submit" value="Check">check</a>
                </div>
            </form>


        }

    }


</section>

